* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  background-color: #191765;
}

.container {
  background-color: #191765;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  padding: 0 20%;
}

.menucontainer {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  margin-top: 10px;
  align-items: center;
}

.menucontainer .navmenu {
  display: flex;
  align-items: center;
}

.name_head {
  font-weight: 300;
  font-size: 30px;
  color: #fff;
}

.menucontainer .navmenu a {
  text-decoration: none;
  width: 59px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin: 0 20px;
}

.menu_icon {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 20px;
}

.part_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 80px;
  margin-top: 90px;
}

.works .container_article {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #b3bac5;
  height: 155px;
  width: 447px;
  margin-top: 60px;
}

.works .title {
  color: #9391ff;
  font-family: 'Roboto', sans-serif;
  font-size: 85px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.works .subtitle {
  color: #dfe1e6;
  font-family: 'Roboto', sans-serif;
  font-size: 37px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.special {
  position: fixed;
  width: 120px;
  height: 120px;
  left: 700px;
  top: 90px;
  background: #edecff;
  filter: blur(40px);
}

.works h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #9490ff;
  width: 100%;
  font-size: 60px;
}

.formsection p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f5f5ff;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
}

.about_p p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #dcdce8;
  font-size: 20px;
}

.footer_class p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ebebff;
}

.works .submenus {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 15% 15% 15% 15% 15% 15%;
  column-gap: 40px;
  row-gap: 6px;
  margin-top: 30px;
}

.works .submenus p {
  width: 100%;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: lighter;
}

.works .submenus .headtable {
  color: #9390ff;
  font-size: 17px;
  font-weight: bold;
}

.division_section {
  background: #646369;
  width: 447px;
  height: 1px;
  margin-top: 40px;
}

.works .logos {
  margin: 80px 0;
}

.works .logos img {
  margin: 0 10px;
  width: 15px;
  height: 15px;
}

.works .container_works {
  display: flex;
  width: 100%;
  margin-top: 45px;
}

.works .special_flex {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-top: 45px;
}

.first_logo {
  width: 100%;
  height: 236px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
  margin-bottom: 45px;
  background-image: url(/img/Placeholder.png);
}

.about {
  margin-top: 60px;
}

.about_p h2 {
  color: #9390ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.works .container_works .first_logo {
  width: 100%;
  height: 450px;
}

.works .container_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
  width: 45%;
  height: 450px;
}

.works h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 30px;
}

.works .firts_p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 35px;
  color: #dcdce8;
  margin-top: 70px;
}

.works .firts_p h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 60px;
}

.works .firts_p p {
  width: 448px;
  height: 140px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  color: #dfe1e6;
}

.works .division_section_works {
  background: #646369;
  width: 100%;
  height: 1px;
  margin-top: 40px;
}

.list {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.grid_first {
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
}

.grid_first li {
  list-style: none;
  line-height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.grid_first li:not(:last-child) {
  border-right: 1px solid #555;
}

.button_pro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 55px;
  background: #9390ff;
  border: none;
}

.button_pro:hover {
  background: red;
}

.button_pro span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.button_submit {
  width: 100px;
  height: 48px;
  background: #7d73fc;
  margin: auto;
  margin-top: 40px;
}

.button_submit span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #edecff;
}

.button_submit:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.button_submit:active {
  background: #2230d2;
  border-radius: 8px;
}

.about_p {
  margin: 200px 0;
  text-align: center;
  width: 400px;
}

.formsection {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.formsection input {
  margin-top: 20px;
  line-height: 40px;
  padding-left: 5px;
  font-size: 20px;
  border: 1px solid #f9f9f9;
  border-radius: 7px;
}

.formsection textarea {
  margin-top: 20px;
  line-height: 20px;
  padding-left: 5px;
  font-size: 20px;
  border: 1px solid #f9f9f9;
  border-radius: 7px;
}

.styleh3 {
  color: #9390ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  justify-content: center;
}

.formstyle {
  display: flex;
  flex-direction: column;
}

.footer_class {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.footer_class .logos > img {
  display: inline-block;
  margin: 0 20px;
}

.formsection .button_pro {
  margin: 0 auto;
}

.division_sections {
  background: #646369;
  width: 100%;
  height: 1px;
}

@media only screen and (max-width: 768px) {
  .container {
    background-color: #191765;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 5%;
  }

  .desktop_works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works .title {
    font-size: 50px;
  }

  .works .subtitle {
    font-size: 37px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .works .container_column {
    margin-left: 30px;
    width: 50%;
    height: 450px;
    margin-right: 30px;
  }

  .works .firts_p h2 {
    font-weight: bold;
    font-size: 25px;
  }

  .grid_first {
    display: grid;
    grid-template-columns: 40% 40% 40% 40%;
  }

  .grid_first li {
    line-height: 30px;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    padding: 0 5px;
  }

  .works .firts_p p {
    width: 200px;
    height: 140px;
    font-size: 10px;
    line-height: 28px;
    font-weight: 400;
  }

  .about_p {
    margin: 100px auto;
  }

  .menucontainer .name_head {
    font-size: 20px;
  }

  .menucontainer .navmenu a {
    margin: 0 5px;
  }

  .menu_icon {
    padding-left: 10px;
  }

  .works .logos {
    display: flex;
  }

  .footer_class {
    display: flex;
    align-items: center;
  }

  .footer_class .emails {
    font-size: 15px;
  }

  .formsection {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    background-color: #191765;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 5%;
  }

  .desktop_works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works .title {
    font-size: 70px;
  }

  .works .subtitle {
    font-size: 37px;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .works .container_column {
    margin-left: 30px;
    width: 70%;
    height: 450px;
    margin-right: 30px;
  }

  .works .firts_p h2 {
    font-weight: bold;
    font-size: 35px;
  }

  .grid_first {
    display: grid;
    grid-template-columns: 40% 40% 40% 40%;
  }

  .grid_first li {
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 0 5px;
  }

  .works .firts_p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    color: #dcdce8;
    margin-top: 70px;
  }

  .about_p {
    margin: 100px auto;
  }

  .menucontainer .name_head {
    font-size: 20px;
  }

  .menucontainer .navmenu a {
    margin: 0 5px;
  }

  .menu_icon {
    padding-left: 10px;
  }

  .works .logos {
    display: flex;
  }

  .footer_class {
    display: flex;
    align-items: center;
  }

  .footer_class .emails {
    font-size: 15px;
  }

  .formsection {
    margin: auto;
  }
}

@media only screen and (max-width: 364px) {
  .grid_first li {
    font-size: 10px;
  }

  .container {
    width: 100%;
  }

  .works {
    width: 80%;
  }

  .works h1 {
    font-size: 20px;
    text-transform: uppercase;
  }

  .works .firts_p {
    line-height: 15px;
    font-size: 13px;
  }

  .works .article {
    font-size: 15px;
  }

  .name_head {
    font-size: 10px;
  }

  .works .subtitle {
    font-size: 15px;
  }

  .footer_class .logos > img {
    display: inline-block;
    margin: 0 5px;
  }

  .footer_class p {
    font-size: 8px;
  }

  .styleh3 {
    font-size: 20px;
  }

  .first_logo {
    height: 190px;
    background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
    background-image: url(/img/Placeholder.png);
  }
}
